<h1>Hi <%= current_user.first_name %></h1>

<h3>Summary</h3>
<p>This will show last appt with GI, next appt</p>

<h3>Medications</h3>
<p>Your Current Medications</p>
<ul>
    <% @medications.each do |medication| %>
      <% if (medication.ended_at == nil) || (medication.ended_at > Time.now) %>
        <p>
        Name: <%= medication.name %></br>
        Dosage: <%= medication.amount %></br>
        Started On: <%= medication.started_at.strftime('%b %d, %Y') %>
        </p>
      <% end %>
    <% end %>
  </ul>
  <%= link_to 'View All Medications', medications_path %> 

<h3>Appointments and Visits</h3>
<!-- <p>Doctors names should be clickable - link to doctor#show,</br>will list all appointments belonging to this doctor here, along with notes associated with each appointment</p> -->
<ul>
    <% @appointments.each do |appointment| %>
    <% if appointment.date < Date.today + 3.months %>
        <p>
        Appointment on <%= appointment.date.strftime('%b %d, %Y') %>
        at <%= appointment.time.strftime('%I:%M:%S %p') %>
        with <%= appointment.doctor.name %></br>
        </p>
      <% end %>
    <% end %>
  </ul>
  <%= link_to 'All Appointments', appointments_path %> 


<h3>Doctors and Hospitals</h3>
<%= link_to 'Add a Doctor or a Hospital', new_doctor_path %> 
<ul>
    <% @doctors.each do |doctor| %>
        <p>
       <%= doctor.name %> your <%= doctor.title%></br>
        Phone: <%= doctor.phone%></br>
        <% if doctor.alt_phone != "" %>
          Alternate Phone Number: <%= doctor.alt_phone %></br>
        <% end %>
        Address: <%= doctor.address %></br>
        <%= link_to 'Update', edit_doctor_path(doctor.id) %> |
        <%= link_to 'Remove', doctor, method: :delete, data: {confirm: "Are you sure you want to delete this doctor?"}  %>
        
        </p>
      <% end %>
  </ul>



<!-- <h2>Second iteration</h2>
<p>Would like to track diet, bms and other symptoms</p>
<p>This info should be able to be exported to a formatted chart, or pdf.</p> -->